body {
    margin: 0;
    min-width: 540px;
}

/* ============== 헤더 ================ */
header {
    background-color: rgb(52, 172, 152);
    display: grid;
    place-content: center;
}

h1 {
    margin: 0;
    text-align: center;
    margin: 20px 0;
    color: aliceblue;
    cursor: default;
}

.movie-search-input {
    width: 75%;
    height: 50px;
    font-size: x-large;
    padding: 0 20px;
    border-radius: 10px;
    border-color: transparent;
    margin: auto;
}

@media(max-width:720px) {
    .movie-search-input {
        width: 40%;
    }
}

.movie-search-input:focus {
    outline: none;
}

.movie-bookmark {
    width: 1000px;
    height: 40px;
    margin: 10px 0;
    color: aliceblue;
    background-color: transparent;
    border: transparent;
    font-size: medium;
}

.movie-bookmark:hover {
    background-color: rgb(27, 155, 91);
    cursor: pointer;
}

/* =========== 영화 목록 ============= */
:root {
    --card-width: 220px;
}

.movie-container {
    background-color: aliceblue;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fill, var(--card-width));
    gap: 10px;
    padding: 10px;
    min-width: 540px;
}

.movie-container>.movie-card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(190, 190, 190);
    border-radius: 10px;
    height: 440px;
    transition: all 0.5s;
}

.movie-card:hover {
    box-shadow: 0px 0px 10px rgb(126, 126, 126);
    /* animation: move 1s;
    animation-fill-mode: forwards; */
}

.movie-poster {
    width: var(--card-width);
    height: 330px;
    background-position: center;
    border-radius: 10px;
}

.movie-title {
    margin: 5px 10px;
    font-size: large;
    font-weight: bold;
}

.movie-rating {
    margin: 0 10px 10px 10px;
    font-size: small;
    color: rgb(97, 97, 97);
}

/* ============= 모달 팝업 ============= */
.movie-modal.visible {
    display: grid;
    place-content: center;
}

.movie-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: rgba(0, 0, 0, 0.4);
}

.movie-modal .movie-modal-body {
    width: 50vw;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 20px 0;
}

.movie-modal .movie-modal-body .close_btn {
    display: block;
    padding: 10px 20px;
    background-color: rgb(116, 0, 0);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.movie-modal-body::-webkit-scrollbar {
    width: 10px;
}
.movie-modal-body::-webkit-scrollbar-thumb {
    background: rgb(52, 172, 152);
    border-radius: 10px;
}
.movie-modal-body::-webkit-scrollbar-track {
    background: rgb(159, 214, 205);
    border-radius: 10px;
}