body {
    margin: 0;
    background: aliceblue;
}

/* ============== 헤더 ================ */
header {
    background-color: rgb(52, 172, 152);
    display: grid;
    place-content: center;
}

h1 {
    margin: 0;
    text-align: center;
    margin: 20px 0;
    color: aliceblue;
    cursor: pointer;
    width: 1000px;
}

.movie-search-input {
    width: 75%;
    height: 50px;
    font-size: x-large;
    padding: 0 20px;
    border-radius: 10px;
    border-color: transparent;
    margin: auto;
}

@media(max-width:720px) {
    .movie-search-input {
        width: 40%;
    }
}

.movie-search-input:focus {
    outline: none;
}

.movie-liked {
    width: 250px;
    height: 40px;
    margin: 10px 0;
    color: aliceblue;
    background-color: transparent;
    border: transparent;
    border-radius: 20px;
    font-size: medium;
    justify-self: center;
}

.movie-liked:hover {
    background-color: rgb(61, 196, 173);
    cursor: pointer;
}

/* =========== 영화 목록 ============= */
:root {
    --card-width: 220px;
}

.movie-container {
    background-color: aliceblue;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fill, var(--card-width));
    gap: 10px;
    padding: 10px;
}

.movie-container>.movie-card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(190, 190, 190);
    border-radius: 10px;
    height: 440px;
    transition: all 0.5s;
}

.movie-card:hover {
    box-shadow: 0px 0px 10px rgb(126, 126, 126);
}

.movie-poster {
    width: var(--card-width);
    height: 330px;
    background-position: center;
    border-radius: 10px;
}

.movie-title {
    margin: 5px 10px;
    font-size: large;
    font-weight: bold;
}

.movie-rating {
    margin: 0 10px 10px 10px;
    font-size: small;
    color: rgb(97, 97, 97);
}

.movie-card {
    position: relative;
}

.movie-card-liked {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: x-large;
    cursor: default;
}

.movie-card-liked.visible {
    display: block;
}

/* ============= 모달 팝업 ============= */
.movie-modal.visible {
    display: grid;
    place-content: center;
    z-index: 1;
}

.movie-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: rgba(0, 0, 0, 0.4);
}

.movie-modal .movie-modal-body {
    display: grid;
    position: relative;
    grid-template-areas: 
    'poster details'
    'poster footer';
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 4fr 1fr;
    gap: 20px;
    width: 800px;
    height: 430px;
    padding: 20px 10px 20px 20px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 20px 0;
}

.movie-modal .movie-modal-body .modal-poster {
    grid-area: poster;
}

.modal-poster img {
    height: 430px;
}

.movie-modal .movie-modal-body .modal-details {
    grid-area: details;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 20px 0 0;
}
.movie-modal .movie-modal-body .modal-footer {
    grid-area: footer;
}

.modal-details::-webkit-scrollbar {
    width: 10px;
}
.modal-details::-webkit-scrollbar-thumb {
    background: rgb(52, 172, 152);
    border-radius: 10px;
}
.modal-details::-webkit-scrollbar-track {
    background: rgb(159, 214, 205);
    border-radius: 10px;
}

.modal-details #modal-title {
    font-size: xx-large;
    font-weight: bold;
    color: rgb(52, 172, 152);
    margin-bottom: 10px;
}

.modal-details #modal-overview {
    line-height: 2;
}

.modal-footer {
    align-content: space-evenly;
    font-weight: bold;
    color: rgb(52, 172, 152);
}

.modal-footer #modal-date {
    margin-bottom: 8px;
}

.modal-footer .close-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgb(52, 172, 152);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding-bottom: 2px;
}

.modal-footer .like-btn {
    position: absolute;
    right: 50px;
    bottom: 37px;
    width: 240px;
    height: 50px;
    padding-left: 20px;
    border-radius: 25px;
    border: none;
    font-size: x-large;
    background: rgb(195, 241, 234);;
    color: rgb(19, 105, 91);
}

.like-btn.liked {
    background: rgb(52, 172, 152);
    color: aliceblue;
}

.modal-footer .like-btn:hover {
    background: rgb(159, 214, 205);
    cursor: pointer;
}

.modal-footer .like-btn.liked:hover {
    background: rgb(59, 189, 167);
    cursor: pointer;
}

/* ============= 좋아요 목록 ============== */
.empty-list {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    color: rgb(52, 172, 152);
}