body {
    margin: 0;
}

/* ------------- 헤더 -------------- */
header {
    background-color: rgb(52, 172, 152);
    display: grid;
    place-content: center;
}

h1 {
    margin: 0;
    text-align: center;
    margin: 20px 0;
    color: aliceblue;
}

.movie-search {
    text-align: center;
    margin-bottom: 10px;
}

.movie-search-input {
    width: 800px;
    height: 50px;
    font-size: x-large;
    padding: 0 20px;
    border-radius: 10px;
    border-color: transparent;
}

.movie-search-input:focus {
    outline: none;
}

.movie-bookmark {
    width: 1000px;
    height: 40px;
    margin-bottom: 10px;
    color: aliceblue;
    background-color: transparent;
    border: transparent;
    font-size: medium;
}

.movie-bookmark:hover {
    background-color: rgb(27, 155, 91);
    cursor: pointer;
}

/* ---------- 영화 목록 ----------- */
:root {
    --card-width: 220px;
}

.movie-container {
    background-color: aliceblue;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fill, var(--card-width));
    gap: 10px;
    padding: 10px;
}

@media(max-width:540px) {
    .movie-container {
        grid-template-columns: repeat(2, var(--card-width));
    }
}

.movie-container>.movie-card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(190, 190, 190);
    border-radius: 10px;
    height: 440px;
    transition: all 0.5s;
}

@keyframes move {
    100% {
        transform: scale(1.1);
        /* 애니메이션이 100%만큼 동작시 */
    }
}

.movie-card:hover {
    box-shadow: 0px 0px 10px rgb(126, 126, 126);
    animation: move 1s;
    animation-fill-mode: forwards;
}

.movie-poster {
    width: var(--card-width);
    height: 330px;
    background-position: center;
    border-radius: 10px;
}

.movie-title {
    margin: 5px 10px;
    font-size: large;
    font-weight: bold;
}

.movie-rating {
    margin: 0 10px 10px 10px;
    font-size: small;
    color: rgb(97, 97, 97);
}